[Unit]
Description=Internal PTY service for Tere

[Service]
Type=exec
ExecStart=/usr/libexec/tere/tere-server serve pty
StandardInput=socket
StandardOutput=journal
StandardError=journal
DynamicUser=yes
User=tere-pty-%i
CapabilityBoundingSet=
AmbientCapabilities=
UMask=0077
ProtectProc=invisible
ProcSubset=pid
SystemCallFilter=@system-service
SystemCallArchitectures=native
