[Unit]
Description=Internal PTY service for Tere

[Service]
Type=exec
ExecStart=/usr/libexec/tere/tere-server serve pty
StandardInput=socket
DynamicUser=yes
SupplementaryGroups=tere-dbus
CapabilityBoundingSet=
AmbientCapabilities=
UMask=0077
ProtectProc=invisible
ProcSubset=pid
SystemCallFilter=@system-service
SystemCallArchitectures=native
